$colorDark: #333333;
$colorBright: #ECE7EE;
$colorBtn1: #00A74A;
$colorBtn2: #9F0F17;
$colorBtn3: #094A8F;
$colorBtn4: #CCA707;
$colorBtn1--active: #13ff7c;
$colorBtn2--active: #ff4c4c;
$colorBtn3--active: #1c8cff;
$colorBtn4--active: #fed93f;
$colorYellow: #FFFF00;
$colorLedInactive: #32050C;
$colorLedActive: #DC0D29;
$colorBrightRed: #FC0102